<h1>フレンド管理</h1>

<!-- フレンド検索フォーム -->
<%= form_with(url: search_friendships_user_friendships_path(user_id: current_user.id), method: :get, local: true) do |form| %>
  <div>
    <%= form.label :name, "フレンドを検索" %>
    <%= form.text_field :name, placeholder: "名前を入力" %>
  </div>
  <div>
    <%= form.submit "検索" %>
  </div>
<% end %>

<!-- 検索結果の表示 -->
<h2>検索結果</h2>
<% if @friends.present? %>
  <ul>
    <% @friends.each do |friend| %>
      <li>
        <%= friend.name %> - 最終ログイン: <%= friend.last_login_at %>
        <%= button_to "フレンド登録", friendships_path(friend_id: friend.id), method: :post, class: "friend-add-link" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>フレンドが見つかりませんでした。</p>
<% end %>

<!-- フレンドリストの表示 -->
<h2>フレンド一覧</h2>
<% if current_user.friends.present? %>
  <ul>
    <% current_user.friends.each do |friend| %>
      <li>
        <%= friend.name %> - 最終ログイン: <%= friend.last_login_at %>
        
        <% friendship = current_user.friendships.find_by(friend_id: friend.id) %>
        
        <% if friendship %>
          <%= button_to "フレンド解除", friendship_path(friendship), method: :delete, class: "friend-remove-link", data: { confirm: "本当にフレンドを解除しますか？" } %>
        <% else %>
          <p>フレンドではありません。</p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>フレンドがいません。</p>
<% end %>

<h2>メッセージ</h2>
<%= link_to 'メッセージ一覧', messages_path %>
<h5>※直近5件のメッセージを表示</h5>
<% if @messages.present? %>
  <ul>
    <% @messages.each do |message| %>
      <li>
        <%= message.sender.name %>: <%= message.content %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>メッセージはありません。</p>
<% end %>