<header>
  <div class="logo">
    <%= link_to "Shelter Sense", users_path %>
  </div>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li class="welcome-message">ようこそ、<%= current_user.name %>さん</li>
        <li><%= link_to "避難所情報", shelters_path %></li>
        <li><%= link_to "地震情報", disaster_notifications_path %></li>
        <li><%= link_to "フレンド / メッセージ", user_friendships_path(current_user) %></li>
        <li><%= link_to "備蓄品チェックリスト", supplies_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>