<!DOCTYPE html>
<html>
<head>
  <title>災害用アプリ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "packs/application", "data-turbo-track": "reload" %>

  <!-- Google Maps APIを非同期で読み込む -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA565GWcpGYFNUO2UPF9bRmMej7t4PW5ZY&callback=initMap&libraries=marker"></script>

</head>
<body>
  <!-- ヘッダーのレンダリング -->
  <%= render 'layouts/header' %>

  <main>
    <!-- ページ固有のコンテンツ -->
    <%= yield %>
  </main>

  <!-- フッターのレンダリング -->
  <%= render 'layouts/footer' %>

  <script>
    let map; // グローバルに宣言

    // initMapをグローバルに公開
    window.initMap = function() {
      // Google Mapsの初期化
      const initialLat = 35.681236;
      const initialLon = 139.767125;
      const mapOptions = {
        center: { lat: initialLat, lng: initialLon },
        zoom: 14
      };
      map = new google.maps.Map(document.getElementById('map'), mapOptions); // グローバル変数を使用
      console.log('Map initialized:', map); // 初期化確認用
    }
  </script>
</body>
</html>