<!DOCTYPE html>
<html>
<head>
  <title>災害用アプリ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <!-- ヘッダーの部分テンプレートを読み込み -->
  <%= render 'layouts/header' %>

  <!-- 各ページごとのコンテンツをここに表示 -->
  <main>
    <%= yield %>
  </main>

  <!-- フッターの部分テンプレートを読み込み -->
  <%= render 'layouts/footer' %>
</body>
</html>