<!DOCTYPE html>
<html>
<head>
  <title>災害用アプリ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
  
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag "packs/application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'shelter_data', 'data-turbo-track': 'reload', 'data-download-path': download_shelters_path %>
</head>
<body>
  <!-- ヘッダーのレンダリング -->
  <%= render 'layouts/header' %>

  <main>
    <!-- ページ固有のコンテンツ -->
    <%= yield %>
  </main>

  <!-- フッターのレンダリング -->
  <%= render 'layouts/footer' %>
</body>
</html>